<div>
  <%= render partial: 'layouts/header', local: { header: @header } %>
</div>
<div class="wrapper">
  <div class="main">
    <div class="main-top">
      <div class="main-message">
        <span>mikkeとは</span><br>
        mikkeは、キーワードを入力するだけでお気に入りのTwitterアカウントが見つかるサイトです。</br>
        今や主要メディアは「個」の時代です。有益な情報を集める手段として、</br>
        Twitterアカウントをフォローしてみてはいかがでしょうか？
      </div>
    </div>
  </div>
</div>